#abilities {
	padding-top: 30px;
	width: 100%;
	background-color: #f9fafb;
	justify-self: center;
	justify-items: center;
	padding-bottom: 90px;
	display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

#abilitiesTitle {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 5px solid purple;
    height: fit-content;
}

#card1 {
    width: 80%;
    grid-row: 2/3;
    grid-column: 1/2;
}

#card2 {
    width: 80%;
    grid-row: 2/3;
    grid-column: 2/3;
}

#card3 {
    width: 80%;
    grid-row: 2/3;
    grid-column: 3/4;
}

.abilities-card {
    
	border-radius: 10px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.abilities-card-body {
	padding: 10px;
	background-color: white;
	display: block;
}

.abilities-card-star {
	color: purple;
	font-size: 25px;
}
