#header {
	height: 50px;

	background-size: cover;
	background-position: center;

	background-color: white;
	color: black;
	grid-template-columns: 150px 1fr;
	display: grid;

	position: fixed;
	width: 100%;
	border-bottom: 2px solid violet;
}

#headerTitle {
	grid-column: 1/2;
	margin-left: 20px;
	justify-self: start;
	font-weight: bold;
	align-content: center;
}

#headerNavbar {
	grid-column: 2 / 3;
	justify-content: end;
	align-items: center;
	margin-right: 20px;
	width: 100%;
	display: flex;
}

.header-btn {
	margin: 0px 10px 0px 10px;
	font-size: 15px;
}

.header-btn:hover {
	cursor: pointer;
}
